{% extends 'document.tmpl' %}
{% import 'generate.tmpl' as generate with context %}

{% block includes %}
#include <algorithm>
#include <array>
#include <bit>
#include <cstddef>
#include <cmath>
#include <span>
#include <stdexcept>
#include <string_view>

{% for contained_type in type.contained_types %}
    {% if not contained_type.inplace and contained_type.token in ('enum', 'set', 'composite') %}
#include "{{ contained_type.name | document_name }}"
    {% endif %}
{% endfor %}
#include "common.h"
{% endblock %}

{% block content %}

{{ generate.composite(type) }}

{% endblock %}
