{% extends 'document.tmpl' %}

{% import 'property.tmpl' as property %}

{% block content %}

{%- set composite_class_name = type.name | format_class_name -%}

class {{ composite_class_name }} final {
private:
    char* buffer_ = nullptr;
    std::size_t bufferLength_ = 0;
    std::size_t offset_ = 0;
    std::uint16_t actingVersion_ = 0;

public:
    {{ composite_class_name }}() = default;

    {{ composite_class_name }}(char* buffer, std::size_t offset, std::size_t bufferLength, std::uint16_t actingVersion)
        : buffer_{buffer}
        , bufferLength_{bufferLength}
        , offset_{offset}
        , actingVersion_{actingVersion}
    {
        if ((offset_ + {{ type.encoded_length }}) > bufferLength_) [[unlikely]]
        {
            throw std::runtime_error("buffer too short for flyweight [E107]");
        }
    }

    {{ composite_class_name }}(char* buffer, std::size_t bufferLength, std::uint16_t actingVersion)
        : {{ composite_class_name }}{buffer, 0, bufferLength, actingVersion}
    {}

    {{ composite_class_name }}(char* buffer, std::size_t bufferLength)
        : {{ composite_class_name }}{buffer, 0, bufferLength, sbeSchemaVersion()}
    {}

    {{ composite_class_name }}& wrap(char* buffer, std::size_t offset, std::uint16_t actingVersion, std::size_t bufferLength)
    {
        return *this = {{ composite_class_name }}{buffer, offset, bufferLength, actingVersion};
    }

    [[nodiscard]] static constexpr auto encodedLength() noexcept -> std::size_t
    {
        return {{ type.encoded_length }};
    }

    [[nodiscard]] auto offset() const noexcept -> std::size_t
    {
        return offset_;
    }

    [[nodiscard]] auto buffer() const noexcept -> char const*
    {
        return buffer_;
    }

    [[nodiscard]] auto buffer() noexcept -> char*
    {
        return buffer_;
    }

    [[nodiscard]] auto bufferLength() const noexcept -> std::size_t
    {
        return bufferLength_;
    }

    [[nodiscard]] auto actingVersion() const noexcept -> std::uint16_t
    {
        return actingVersion_;
    }

    [[nodiscard]] static constexpr auto sbeSchemaId() noexcept -> std::uint16_t
    {
        return {{ schema.id }};
    }

    [[nodiscard]] static constexpr auto sbeSchemaVersion() noexcept -> std::uint16_t
    {
        return {{ schema.version }};
    }

    {{ property.define(composite_class_name, type.contained_types) | indent }}
    {{- '' -}}
};

{% endblock %}
