{% extends 'document.tmpl' %}

{% block content %}

{%- set enum_class_name = type.name | format_class_name -%}
{%- set underlying_type = type.encoding_type.name | replace_keyword -%}

class {{ enum_class_name }} {
public:
    enum Value : {{ underlying_type }}
    {
{% for valid_value in type.valid_values %}
    {% if type.encoding_type.name == 'char' %}
        {{ valid_value.name }} = '{{ valid_value.value }}',
    {% else %}
        {{ valid_value.name }} = {{ valid_value.value }},
    {% endif %}
{% endfor %}
        NULL_VALUE = {{ type.null_value | replace_keyword }}
    };

    [[nodiscard]] static constexpr auto get({{ underlying_type }} value) -> {{ enum_class_name }}::Value
    {
        switch (value)
        {
{% for valid_value in type.valid_values %}
    {% if type.encoding_type.name == 'char' %}
            case '{{ valid_value.value }}': return {{ enum_class_name }}::{{ valid_value.name }};
    {% else %}
            case {{ valid_value.value }}: return {{ enum_class_name }}::{{ valid_value.name }};
    {% endif %}
{% endfor %}
        }

        throw std::runtime_error("unknown value for enum OrderState [E103]");
    }

    [[nodiscard]] static constexpr auto c_str({{ enum_class_name }}::Value value) -> char const*
    {
        switch (value)
        {
{% for valid_value in type.valid_values %}
            case {{ enum_class_name }}::{{ valid_value.name }}: return "{{ valid_value.name }}";
{% endfor %}
        }

        throw std::runtime_error("unknown value for enum OrderState [E103]");
    }

    template<typename CharT, typename Traits>
    friend std::basic_ostream<CharT, Traits>& operator<<(std::basic_ostream<CharT, Traits>& os, {{ enum_class_name}}::Value m)
    {
        return os << {{ enum_class_name }}::c_str(m);
    }
};

{% endblock %}
